.container
	.foodContainer
		.row.span5{:style => "margin: 0 auto;"}
			%p #{@food.name}
			%p UPC: #{@food.UPC}
			%p Ingredients: #{@food.ingredients}
			%p #{@ingredients}
			.tabbable
				%ul.nav.nav-tabs
					%li.active
						%a{:href => "#econ", "data-toggle" => "tab"}
							Economic
					%li
						%a{:href => "#gastro", "data-toggle" => "tab"}
							Gastronomic
					%li
						%a{:href => "#nutr", "data-toggle" => "tab"}
							Nutritional
				.tab-content.well
					.tab-pane.active#econ
						%p #{@food.econ_advice}
						%p 
							Score: #{@food.econ_score}
					.tab-pane#gastro
						%p #{@food.gastro_advice}
						%p 
							Score: #{@food.gastro_score}
					.tab-pane#nutr
						%p #{@food.nutr_advice}
						%p 
							Score: #{@food.nutr_score}
			-if user_signed_in?
				-if current_user.has_role? :admin or current_user.has_role? :score or current_user.has_role? :information or current_user.has_role? :allinfo
					= link_to('Edit information', edit_food_path(@food), :class => 'btn btn-small')
	.row.span8{:style => "text-align: center; margin: 50px auto 0 auto;"}
		.form-search
			.input-append
				= form_tag food_index_path, :method => 'get' do
					= search_field_tag :query, params[:query], :class => 'search-query', :placeholder => 'Search Food'
					= button_tag(:type => 'submit', :class => 'btn', :id => 'submit_query') do
						%i.icon-search